{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page d'accueil</h1>
    <a href="{{ path('app_session') }}" class="btn btn-primary">Ajout dans le panier</a>
    <a href="{{ path('app_panier') }}" class="btn btn-success">Panier</a>

{% endblock %}